dbcc
*.dbc
!bitfield-edge.dbc
!bitfield_edge.dbc
!codec_matrix.dbc
!mul_val.dbc
!single_enum.dbc
core
vgcore.*
*.o
*.d
*.log
*.conf
*.out
*.htm
*.1
*.pdf
*.html
*.xhtml
*.exe
*.a
*.so

Debug/
*.sln
*.vcxproj*
dbcc.VC.db
*.opendb

Release/


# QtCreator project files
*.pro.user
*.pro
*.config
*.files
*.includes
*.creator
*.creator.user

.directory
.project

*.json
.codex
out/test_c/test_2c*
